html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

p {
   text-transform: capitalize; 
}


container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #1473e6;
    width: 100vw;
    text-align: center;
    color: white;
    -webkit-box-shadow: 3px -16px 5px 20px rgba(0,0,0,0.36);
    -moz-box-shadow: 3px -16px 5px 20px rgba(0,0,0,0.36);
    box-shadow: 3px -16px 5px 20px rgba(0,0,0,0.36);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

img {
    width: 200px;
    height: 200px;
    margin-bottom: 10vh;
    margin-top: 30px;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}

input, select {
    margin: 40px;
    -webkit-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.36);
    -moz-box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.36);
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.36);
}

input {
    padding: 20px;
    font-size: 20px;
    width: 100px;
    border: 1px solid rgb(166, 166, 166);
    background-color: rgb(248, 248, 248);
    border-radius: 10px;
}

select {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

pair {
    margin-bottom: 10px;
}

.myButton {
	background-color:#f5f5f5;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #8a8a8a;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background-color:#fafafa;
}
.myButton:active {
	position:relative;
	top:1px;
}

boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 900px;
    margin-top: 20px;
}

group {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.box {
    border: 1px solid black;
    border-radius: 10px;
    margin: 0;
}
